body {
  margin: 0;
  padding: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1366px; */
  
}

  /* setting max width to laptop-screen 1366 px */
  @media screen and (min-width: 1367px) {
    body{
      margin-left: 18px !important;
      margin-right: 200px !important;
    }
  }

  * {
    font-family: "Heebo", sans-serif;
    /* font-family: "Roboto", sans-serif; */
  }
  .footer {
    background-color: #f3f4f6; /* Light gray background */
    color: #4a4a4a; /* Dark gray text */
    width: 89rem;
    margin-left: 0%;
  }
  
  .footer-link {
    color: #2b6cb0; /* Link color */
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #2c5282; /* Darker shade on hover */
  }
  
  
